.topnav {
    overflow: hidden;
    position: fixed;
    min-width: 100%;
    top: 0px;
    background-color: #07755b;
  }
  
  .topnav a {
    color: white;
    text-align: center;
    padding: 15px 4px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 100;
  }
  
  .topnav a:hover {
    color: rgb(61, 61, 61);
    transform: scale(1.2);
  }
  
  .nav-left {
    float: left;
    font-size: 100px;
  }
  
  .nav-right {
    float: right;
  }